* {
    box-sizing: border-box;
  }

nav {
    position: fixed;
    top: 0;
    left: 60%;
    display: flex;
    gap: 10vh;
    padding: 10px;
    margin-right: 20px;
    margin-left: 20px;
    
}

.nav-link {
    text-decoration: none; 
  }

#header-img {
    width: 20vh;
    padding-left: 10px;
    border-radius: 80%;
}

h1 {
    text-align: center;
    font-size: 4rem;
    font-weight: bold; 
    color: red;
}

.collection {
    text-align: center;
    padding: 32px;
    font-size: 4rem;
    font-weight: bold; 
    color: black;
}

.gallery {
    display: flex;
    
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 10px;
  }

  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 350px;
  }
  
  .gallery img {
    width: 100%;
    max-width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .gallery::after {
    content: "";
    width: 350px;
  }

  .price {
    margin-top: 8px;
    font-size: 1.2rem;
    font-weight: bold;
    color: black;
    text-align: center;
  }