body {
    background-image: url(images/l2.PNG);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
     backdrop-filter: blur(2px); 

}

nav {
    position: fixed;
    top: 0;
    left: 60%;
    display: flex;
    gap: 10vh;
    padding: 10px;
    margin-right: 20px;
    margin-left: 20px;
    
}

.nav-link {
    color: black; 
    text-decoration: none; 
    font-weight: bold; 
  }

#header-img {
    width: 20vh;
    padding-left: 10px;
    border-radius: 80%;
}

.welcome {
    text-align: center;
    font-size: 4rem;
    font-weight: bold; 
    color: rgb(194, 214, 167);  
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);

}

.description {
    text-align: center;
    font-size: 2rem;
    font-weight: bold; 
    color: #f0f5f2;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);

}

.mission {
    text-align: center;
    color: rgb(194, 214, 167); 
    font-size: 3rem; 
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.now {
    padding: 10px 20px;  
    font-size: 20px;
    cursor: pointer;
}